pkgbase = vercel
	pkgdesc = The command line interface for Vercel
	pkgver = 37.13.0
	pkgrel = 1
	url = https://github.com/vercel/vercel
	arch = any
	license = MIT
	makedepends = jq
	depends = npm
	noextract = vercel-37.13.0.tgz
	source = http://registry.npmjs.org/vercel/-/vercel-37.13.0.tgz
	sha256sums = 3f701c0c72a5733470070252dc6b3368bdc0ece42bbee89ff1a590fbd29a9180

pkgname = vercel
