pkgbase = vercel
	pkgdesc = The command line interface for Vercel
	pkgver = 34.0.0
	pkgrel = 1
	url = https://github.com/vercel/vercel
	arch = any
	license = MIT
	makedepends = jq
	depends = npm
	noextract = vercel-34.0.0.tgz
	source = http://registry.npmjs.org/vercel/-/vercel-34.0.0.tgz
	sha256sums = 08ee9e0941bbd8e29c711ecdd73ab1a8cacbe300e14c2f36e94227d37cd17081

pkgname = vercel
