pkgbase = vercel
	pkgdesc = The command line interface for Vercel
	pkgver = 39.3.0
	pkgrel = 1
	url = https://github.com/vercel/vercel
	arch = any
	license = MIT
	makedepends = jq
	depends = npm
	noextract = vercel-39.3.0.tgz
	source = http://registry.npmjs.org/vercel/-/vercel-39.3.0.tgz
	sha256sums = fac1eed2a1224acb125c15c8668d79de1c6c17321b6cb0067618e32c6750646f

pkgname = vercel
